<!-- BASE PARA UTILIZAR AL GENERAR PDFs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Labmunicipal | Red Ciudadana </title>
  <link href="{{ '/assets/css/style.css' }}" rel="stylesheet" />
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>