---
title: Vivienda
tags: tematicas
---
{% extends "src/_includes/baseToExtend.njk" %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1>
        Tematicas
      </h1>
      <p class="h5 text-secondary font-weight-normal">
        Seleccione una de las siguientes tematicas de su interes.
      </p>
    </div>
    {% for tematica in collections.tematicas %}
    <div class="col-12 col-sm-6 col-lg-3 text-center py-1">
      {% if tematica.url == page.url %}
      <a href="{{tematica.url}}" class="btn btn-lg btn-primary text-white rounded-pill border-dark w-100">
        {{ tematica.data.title }}
      </a>
      {% else %}
      <a href="{{tematica.url}}" class="btn btn-lg btn-white rounded-pill border-dark w-100">
        {{ tematica.data.title }}
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<div class="bg-white w-100">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-12">
        <h4>Total de vivienda con piso de tierra</h4>
        <h5 class="text-secondary font-weight-normal mb-3">
          Interactúe con el gráfico para información adicional
        </h5>
      </div>
      <div class="col-8">
        <div class="mx-auto" id="chart-container"></div>
      </div>
      <div class="col-12">
        <div class="mx-auto justify-content-center d-flex w-100">
          <div class="box" style="background-color: #fffbe7;"></div>
          <h6 class="mr-2">0</h6>
          <div class="box" style="background-color: #f8d527;"></div>
          <h6 class="mr-2">1-1999</h6>
          <div class="box" style="background-color: #f8b127;"></div>
          <h6 class="mr-2">2000-3999</h6>
          <div class="box" style="background-color: #c62300;"></div>
          <h6 class="mr-2">4000-5999</h6>
          <div class="box" style="background-color: #9b1b00;"></div>
          <h6 class="mr-2">6000+</h6>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_javascripts %}
<script>
  window.tematicaCharts = [
    {
      container: 'chart-container',
      indiceName: 'vivienda',
      colors: function (indice) {
        if (indice === 0) {
          return '#fffbe7';
        }

        if (indice > 6000) {
          return '#9b1b00';
        }

        let _colors = ['#9b1b00', '#c62300', '#f8b127', '#f8d527'];

        let color = _colors[3 - parseInt(indice / 2000)];

        if (!color) {
          return '#bebebe' // Indefinido deberia tener su propio color?
        }

        return color;
      },
      max: 8000
    }
  ]
</script>
<script src="/assets/tematicas.js"></script>
{% endblock %}