// Theme colors

$primary: #52CCAE;
$secondary: #717883;
$light: #F1F5FB;
$body-color: $secondary;
$dark: #B8C6CE;
$spacer: 2rem;

// Theme fonts

@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Regular"), local("Aileron-Regular"),
    url("../fonts/Aileron-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: medium;
  src: local("Aileron SemiBold"), local("Aileron-SemiBold"),
    url("../fonts/Aileron-SemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: bold;
  src: local("Aileron Bold"), local("Aileron-Bold"),
    url("../fonts/Aileron-Bold.otf") format("opentype");
  font-display: swap;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #58595B;
}

body {
    background-color: $light;
    color: $body-color;
}

.btn-white {
    @extend .btn-light;
    @extend .bg-white;
    @extend .border-light;
}

.btn-white:hover {
    background-color: $primary !important;
    color: white !important;
    border-color: white !important;
}