---
title: Estado civil
description: "Review feature info and customization details."
tags: tematicas
---
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1>
        Tematicas
      </h1>
      <p class="h5 text-secondary font-weight-normal">
        Seleccione una de las siguientes tematicas de su interes. 
      </p>
    </div>
    {% for tematica in collections.tematicas %}
    <div class="col-12 col-sm-6 col-lg-3 text-center py-1">
        {% if tematica.url == page.url %}
        <a href="{{tematica.url}}" class="btn btn-lg btn-primary text-white rounded-pill border-dark w-100">
            {{ tematica.data.title }}
        </a>
        {% else %}
        <a href="{{tematica.url}}" class="btn btn-lg btn-white rounded-pill border-dark w-100">
            {{ tematica.data.title }}
        </a>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<div class="bg-white w-100">
  <div class="container py-4">
    <div class="row">
      <div class="col-12">
        <h5 class="text-secondary font-weight-normal mb-3">
          Interactúe con gráficos y estadísticas para obtener márgenes de error e información adicional.
        </h5>
      </div>
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3">
            <h4 class="text-white m-0 font-weight-normal">
              {{title}}
            </h4>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-3 p-2 px-3 border">
                  <h3>
                    Edad
                  </h3>
                  <h1>
                    45.4
                  </h1>
                  <h5>
                    Edad media
                  </h5>
                  <p class="text-secondary">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quisquam modi et fugiat debitis. Odit, aut nesciunt est perspiciatis recusandae.
                  </p>
                </div>
                <div class="col-12 col-lg-5 p-3 border">
                  <h6>
                    Población por rango de edad
                  </h6>
                  <canvas id="chart-1"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Población por categoria de edad
                  </h6>
                  <canvas id="chart-2"></canvas>
                </div>
                <div class="col-12 col-lg-8 p-3 border">
                  <h6>
                    Población por rango de edad
                  </h6>
                  <canvas height="80px" id="chart-3"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Género
                  </h6>
                  <canvas id="chart-4"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)){ return; }
    js = d.createElement(s); js.id = id;
    js.onload = function(){
        new Chart(document.getElementById("chart-1"), {
            "type": "bar",
            "data": {
                "labels": [
                "0-9",
                "10-19",
                "20-29",
                "30-39",
                "40-49",
                "50-59",
                "60-79",
                "80+"
                ],
                "datasets": [
                {
                    "label": "Población %",
                    "data": [
                    4,
                    8,
                    12,
                    8,
                    3,
                    30,
                    12,
                    8
                    ],
                    "fill": false,
                    "backgroundColor": "#52CCAE",
                    "borderColor": [
                    "rgb(255, 99, 132)",
                    "rgb(255, 159, 64)",
                    "rgb(255, 205, 86)",
                    "rgb(75, 192, 192)",
                    "rgb(54, 162, 235)",
                    "rgb(153, 102, 255)",
                    "rgb(201, 203, 207)"
                    ],
                    "borderWidth": 0
                }
                ]
            },
            "options": {
                "scales": {
                "xAxes": [
                    {
                    "display": true,
                    "gridLines": {
                        "lineWidth": 0
                    }
                    }
                ],
                "yAxes": [
                    {
                    "display": false,
                    "lineWidth": 0,
                    "ticks": {
                        "beginAtZero": true,
                        "suggestedMax": 50
                    },
                    "gridLines": {
                        "lineWidth": 0
                    }
                    }
                ]
                }
            }
        });
        new Chart(document.getElementById("chart-2"), {
            "type": "doughnut",
            "data": {
                "labels": [
                "-18",
                "18-70",
                "70+"
                ],
                "datasets": [
                {
                    "label": "Población %",
                    "data": [
                    30,
                    50,
                    20
                    ],
                    "fill": false,
                    "backgroundColor": [
                    "#52CCAE",
                    "#97E0CE",
                    "#D5F3EB"
                    ],
                    "borderWidth": 0
                }
                ]
            },
            "options": {
                legend: {
                position: 'right'
                }
            }
        });
        new Chart(document.getElementById("chart-3"), {
            "type": "bar",
            "data": {
                "labels": [
                "ipsum",
                "ipsum",
                "ipsum",
                "ipsum",
                "ipsum",
                "ipsum",
                "ipsum",
                "ipsum",
                "ipsum",
                "ipsum"
                ],
                "datasets": [
                {
                    "maxBarThickness": 50,
                    "label": "Población %",
                    "data": [
                    30,
                    50,
                    20,
                    15,
                    30,
                    50,
                    20,
                    15,
                    40,
                    30
                    ],
                    "fill": false,
                    "backgroundColor": "#52CCAE",
                    "borderWidth": 0
                }
                ]
            },
            "options": {
                "scales": {
                "xAxes": [
                    {
                    "display": true,
                    "gridLines": {
                        "lineWidth": 0
                    }
                    }
                ],
                "yAxes": [
                    {
                    "display": false,
                    "lineWidth": 0,
                    "ticks": {
                        "beginAtZero": true,
                        "suggestedMax": 50
                    },
                    "gridLines": {
                        "lineWidth": 0
                    }
                    }
                ]
                }
            }
        });
        new Chart(document.getElementById("chart-4"), { 
            "type": "doughnut",
            "data": {
                "labels": [
                "Femenino",
                "Masculino"
                ],
                "datasets": [
                {
                    "label": "Población %",
                    "data": [
                    70,
                    50
                    ],
                    "fill": false,
                    "backgroundColor": [
                    "#52CCAE",
                    "#97E0CE",
                    "#D5F3EB"
                    ],
                    "borderWidth": 0
                }
                ]
            },
            "options": {
                legend: {
                position: 'right'
                }
            }
        });
    };
    js.src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'chart-jssdk'));
</script>