---
title: Comparar
---
{% extends "src/_includes/baseToExtend.njk" %}

{% block content %}
<div id="app">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1>
          Compara
        </h1>
        <p class="h5 text-secondary font-weight-normal">
          Seleccione los departamentos que desea consultar
        </p>
      </div>
      <div class="col-12 col-md-6 text-center py-1">
        <select class="w-100 py-1 px-2 border" name="departamento" id="departamento">
          <option disabled value="">Seleccionar departamento</option>
        </select>
      </div>
      <div class="col-12 col-md-6 text-center py-1">
        <select v-model="municipioSelected" class="w-100 py-1 px-2 border" name="municipio" id="municipio">
          <option disabled value="">Seleccionar municipio</option>
        </select>
      </div>
      <div class="col-12 mt-2">
          <p class="h5 text-secondary font-weight-normal">
              Seleccione una de las siguientes tematicas
          </p>
      </div>
      <div class="col-12 col-md-9 text-center py-1">
          <select class="w-100 py-1 px-2 border" name="departamento" id="departamento">
              <option value="Economia">Economia</option>
              <option value="Salud">Salud</option>
          </select>
      </div>
      <div class="col-12 col-md-3 text-center py-1 text-white">
          <button class="btn btn-primary btn-block">
              Comparar
          </button>
      </div>
    </div>
  </div>
  <div class="bg-white w-100">
    <div class="container py-4">
      <div class="row mb-3">
        <div class="col-12">
          <h3 class="text-secondary mb-2">
            Zacapa
          </h3>
        </div>
        <div class="col-12">
          <div class="border rounded-sm">
            <div class="w-100 bg-secondary p-2 px-3">
              <h4 class="text-white m-0">
                Desnutrición
              </h4>
            </div>
            <div class="w-100">
              <div class="row m-0 p-0">
                  <div class="col-3 p-2 px-3 border">
                      <h3>
                          Edad
                      </h3>
                      <h1>
                          45.4
                      </h1>
                      <h5>
                          Edad media
                      </h5>
                      <p class="text-secondary">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quisquam modi et fugiat debitis. Odit, aut nesciunt est perspiciatis recusandae.
                      </p>
                  </div>
                  <div class="col-5 p-3 border">
                      <h6>
                          Población por rango de edad
                      </h6>
                  </div>
                  <div class="col-4 p-3 border">
                      <h6>
                          Población por categoria de edad
                      </h6>
                  </div>
                  <div class="col-8 p-3 border">
                      <h6>
                          Población por rango de edad
                      </h6>
                  </div>
                  <div class="col-4 p-3 border">
                      <h6>
                          Género
                      </h6>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="text-secondary mb-2">
            Zacapa
          </h3>
        </div>
        <div class="col-12">
          <div class="border rounded-sm">
            <div class="w-100 bg-secondary p-2 px-3">
              <h4 class="text-white m-0">
                Desnutrición
              </h4>
            </div>
            <div class="w-100">
              <div class="row m-0 p-0">
                  <div class="col-3 p-2 px-3 border">
                      <h3>
                          Edad
                      </h3>
                      <h1>
                          45.4
                      </h1>
                      <h5>
                          Edad media
                      </h5>
                      <p class="text-secondary">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quisquam modi et fugiat debitis. Odit, aut nesciunt est perspiciatis recusandae.
                      </p>
                  </div>
                  <div class="col-5 p-3 border">
                      <h6>
                          Población por rango de edad
                      </h6>
                  </div>
                  <div class="col-4 p-3 border">
                      <h6>
                          Población por categoria de edad
                      </h6>
                  </div>
                  <div class="col-8 p-3 border">
                      <h6>
                          Población por rango de edad
                      </h6>
                  </div>
                  <div class="col-4 p-3 border">
                      <h6>
                          Género
                      </h6>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_javascripts %}
<script>
  // Cargar municipios a documento
  window.municipios = JSON.parse('{{ municipios | dump | safe }}');

  // Obtener <select> de departamentos y municipios
  var departamentoSelect = document.getElementById('departamento');
  var municipioSelect = document.getElementById('municipio');

  // Obtener listado de solo municipios
  var departamentos = this.municipios.reduce((municipios, municipio) => {
      if (municipios.indexOf(municipio.departamento) < 0) {
          municipios.push(municipio.departamento);
      }

      return municipios;
  }, []);

  // Agregar departamentos como options
  departamentos.forEach(function(departamento) {
    var option = document.createElement('option');
    option.value = departamento;
    option.innerHTML = departamento;
    departamentoSelect.appendChild(option);
  });

  // Reiniciar select a "Seleccionar departamento"
  departamentoSelect.selectedIndex = 0;

  // Event listeners

  // [CHANGE] Select departamento
  departamentoSelect.addEventListener('change', function(event) {
    // Eliminar opciones anteriores
    let L = municipioSelect.options.length - 1;
    for(i = L; i > 0; i--) {
      municipioSelect.remove(i);
    }

    var departamentoSelected = event.target.value;

    // Agregar municipio filtrados
    window.municipios.forEach((municipio) => {
      if (departamentoSelected === municipio.departamento) {
        var option = document.createElement('option');
        option.value = municipio.municipio;
        option.innerHTML = municipio.municipio;
        municipioSelect.appendChild(option);
      }
    });

    // Reiniciar select a "Seleccionar municipio"
    municipioSelect.selectedIndex = 0;
  });
</script>
{% endblock %}