---
title: Comparar
---
{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
  <script src="/assets/js/utils.js"></script>
{% endblock %}

{% block content %}
<div id="app">
  <div class="container py-5">
    <form class="row" id="form-comparar">
      <div class="col-12">
        <h1>
          Compara
        </h1>
        <p class="h5 text-secondary font-weight-normal">
          Seleccione los departamentos y municipios que desea consultar
        </p>
      </div>
      <div class="col-12 col-md-6 text-center py-1">
        <select class="w-100 py-1 px-2 border" name="departamento" id="departamento1" required>
          <option disabled value="">Seleccionar departamento</option>
        </select>
      </div>
      <div class="col-12 col-md-6 text-center py-1">
        <select class="w-100 py-1 px-2 border" name="municipio" id="municipio1" required>
          <option disabled value="">Seleccionar municipio</option>
        </select>
      </div>
      <div class="col-12 col-md-6 text-center py-1">
        <select class="w-100 py-1 px-2 border" name="departamento" id="departamento2" required>
          <option disabled value="">Seleccionar departamento</option>
        </select>
      </div>
      <div class="col-12 col-md-6 text-center py-1">
        <select class="w-100 py-1 px-2 border" name="municipio" id="municipio2" required>
          <option disabled value="">Seleccionar municipio</option>
        </select>
      </div>
      <div class="col-12 mt-2">
          <p class="h5 text-secondary font-weight-normal">
              Seleccione una de las siguientes tematicas
          </p>
      </div>
      <div class="col-12 col-md-9 text-center py-1">
          <select class="w-100 py-1 px-2 border" name="tematica" id="tematica" required>
              <option value="General">General</option>
              {% for tematica in collections.tematicas %}
                <option value="{{ tematica.data.title }}">{{ tematica.data.title }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-12 col-md-3 text-center py-1 text-white">
          <button class="btn btn-primary btn-block" id="button-comparar">
              Comparar
          </button>
      </div>
    </form>
  </div>
  <div class="bg-white w-100">
    <div class="container py-4">
      <div class="row mb-3">
        <div class="col-12">
          <h3 class="text-secondary mb-2" id="title-municipio1">
            Zacapa
          </h3>
        </div>
        <div class="col-12">
          <div class="border rounded-sm">
            <div class="w-100 bg-secondary p-2 px-3">
              <h4 class="text-white m-0" class="title-tematica">
                General
              </h4>
            </div>
            <div class="w-100">
              <div class="row m-0 p-0">
                  <div class="col-12 col-lg-3 p-2 px-3 border">
                    <h3>
                      Indice de <span class="title-tematica">General</span>
                    </h3>
                    <h1>
                      52.89%
                    </h1>
                    <small>
                      PNUD 2014
                    </small>
                  </div>
                  <div class="col-12 col-lg-9 d-flex p-0 m-0 row">
                    <div class="col-12 col-lg-6 p-3 border">
                      <h6>
                        Índice de <span class="title-tematica">General</span>
                      </h6>
                      <canvas id="chart-1"></canvas>
                    </div>
                    <div class="col-12 col-lg-6 p-3 border">
                      <h6>
                        Categoria de <span class="title-tematica">General</span>
                      </h6>
                      <canvas id="chart-2"></canvas>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="text-secondary mb-2" id="title-municipio2">
            Zacapa
          </h3>
        </div>
        <div class="col-12">
          <div class="border rounded-sm">
            <div class="w-100 bg-secondary p-2 px-3">
              <h4 class="text-white m-0" class="title-tematica">
                General
              </h4>
            </div>
            <div class="w-100">
              <div class="row m-0 p-0">
                  <div class="col-12 col-lg-3 p-2 px-3 border">
                    <h3>
                      Indice de <span class="title-tematica">General</span>
                    </h3>
                    <h1>
                      52.89%
                    </h1>
                    <small>
                      PNUD 2014
                    </small>
                  </div>
                  <div class="col-12 col-lg-9 d-flex p-0 m-0 row">
                    <div class="col-12 col-lg-6 p-3 border">
                      <h6>
                        Índice de <span class="title-tematica">General</span>
                      </h6>
                      <canvas id="chart-3"></canvas>
                    </div>
                    <div class="col-12 col-lg-6 p-3 border">
                      <h6>
                        Categoria de <span class="title-tematica">General</span>
                      </h6>
                      <canvas id="chart-4"></canvas>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_javascripts %}
<script>
  // Cargar municipios a documento
  window.municipios = JSON.parse('{{ municipios | dump | safe }}');

  // Obtener <select> de departamentos y municipios
  var departamentoSelect1 = document.getElementById('departamento1');
  var municipioSelect1 = document.getElementById('municipio1');
  var departamentoSelect2 = document.getElementById('departamento2');
  var municipioSelect2 = document.getElementById('municipio2');

  // Obtener listado de solo municipios
  var departamentos = this.municipios.reduce((municipios, municipio) => {
      if (municipios.indexOf(municipio.departamento) < 0) {
          municipios.push(municipio.departamento);
      }

      return municipios;
  }, []);

  // Agregar departamentos como options
  departamentos.forEach(function(departamento) {
    var option = document.createElement('option');
    option.value = departamento;
    option.innerHTML = departamento;
    departamentoSelect1.add(option);
    departamentoSelect2.add(option.cloneNode(true));
  });

  // Reiniciar select a "Seleccionar departamento"
  departamentoSelect1.selectedIndex = 0;
  departamentoSelect2.selectedIndex = 0;

  // Event listeners

  // [CHANGE] Select departamento 1
  departamentoSelect1.addEventListener('change', function(event) {
    // Eliminar opciones anteriores
    let L = municipioSelect1.options.length - 1;
    for(i = L; i > 0; i--) {
      municipioSelect1.remove(i);
    }

    var departamentoSelected = event.target.value;

    // Agregar municipio filtrados
    window.municipios.forEach((municipio) => {
      if (departamentoSelected === municipio.departamento) {
        var option = document.createElement('option');
        option.value = municipio.municipio;
        option.innerHTML = municipio.municipio;
        municipioSelect1.appendChild(option);
      }
    });

    // Reiniciar select a "Seleccionar municipio"
    municipioSelect1.selectedIndex = 0;
  });

  // [CHANGE] Select departamento
  departamentoSelect2.addEventListener('change', function(event) {
    // Eliminar opciones anteriores
    let L = municipioSelect2.options.length - 1;
    for(i = L; i > 0; i--) {
      municipioSelect2.remove(i);
    }

    var departamentoSelected = event.target.value;

    // Agregar municipio filtrados
    window.municipios.forEach((municipio) => {
      if (departamentoSelected === municipio.departamento) {
        var option = document.createElement('option');
        option.value = municipio.municipio;
        option.innerHTML = municipio.municipio;
        municipioSelect2.appendChild(option);
      }
    });

    // Reiniciar select a "Seleccionar municipio"
    municipioSelect2.selectedIndex = 0;
  });

  document.getElementById('form-comparar').addEventListener('submit', function(event) {
    event.preventDefault();

    let departamento1 = document.getElementById('departamento1');
    let municipio1 = document.getElementById('municipio1');
    let departamento2 = document.getElementById('departamento2');
    let municipio2 = document.getElementById('municipio2');
    let tematica = document.getElementById('tematica');

    if (!(
      departamento1.value && 
      departamento2.value && 
      municipio1.value && 
      municipio2.value
    )) {
      return;
    }

    // busqueda de datos

    document.getElementById('title-municipio1').innerHTML = municipio1.value;
    document.getElementById('title-municipio2').innerHTML = municipio2.value;

    var titles = document.getElementsByClassName('title-tematica');

    for (let item of titles) {
      item.innerHTML = tematica.value || 'General';
    }

    window.chartConfig1.data.datasets[0].data = [
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor()
    ];

    window.chart1.update();

    window.chartConfig2.data.datasets[0].data = [
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
    ];

    window.chart2.update();

    // Municipio 2

    window.chartConfig3.data.datasets[0].data = [
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor()
    ];

    window.chart3.update();

    window.chartConfig4.data.datasets[0].data = [
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
      window.randomScalingFactor(),
    ];

    window.chart4.update();
  }, true);
</script>
{# ChartJS #}
<script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)){ return; }
    js = d.createElement(s); js.id = id;
    js.onload = function(){
      var baseBarChartConfig = {
        "type": "bar",
        "data": {
            "labels": [
            ],
            "datasets": [
                {
                    "label": "",
                    "data": [],
                    "fill": false,
                    "backgroundColor": "#52CCAE",
                    "borderColor": "#52CCAE",
                    "borderWidth": 0
                }
            ]
        },
        "options": {
            "scales": {
                "xAxes": [
                    {
                        "display": true,
                        "gridLines": {
                            "lineWidth": 1
                        }
                    }
                ],
                "yAxes": [
                    {
                        "display": true,
                        "lineWidth": 1,
                        "ticks": {
                            "beginAtZero": true,
                            "suggestedMax": 100
                        },
                        "gridLines": {
                            "lineWidth": 1
                        }
                    }
                ]
            }
        }
      };

      var basePieChartConfig = {
        "type": "pie",
          "data": {
          "labels": [],
            "datasets": [
              {
                "label": "",
                "data": [],
                "fill": false,
                // generados con https://mdigi.tools/color-shades/#52ccae
                "backgroundColor": [
                  "#effaf7",
                  "#cef0e8",
                  "#ade7d9",
                  "#8cddc9",
                  "#6bd3ba",
                  "#4acaaa",
                  "#35b595",
                  "#2c947a",
                  "#22735f",
                  "#185244",
                  "#0f3129",
                  "#05100e"
                ],
                "borderWidth": 0
              }
            ]
        },
        "options": {
          legend: {
            position: 'bottom'
          }
        }
      };

      window.chartConfig1 = JSON.parse(JSON.stringify(baseBarChartConfig));
      window.chartConfig1.data.datasets[0].label = "Indice Municipal";
      window.chartConfig1.data.datasets[0].data = [
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor()
      ];
      window.chartConfig1.data.labels = [
        "2016",
        "2017",
        "2018",
        "2019"
      ];
      window.chart1 = new Chart(document.getElementById("chart-1"), window.chartConfig1);

      window.chartConfig2 = JSON.parse(JSON.stringify(basePieChartConfig));
      window.chartConfig2.data.datasets[0].label = "Indice Municipal";
      window.chartConfig2.data.datasets[0].data = [
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
      ];
      window.chartConfig2.data.labels = [
        "DISMINUCIÓN DE OTROS ACTIVOS FINANCIEROS",
        "INGRESOS DE OPERACION",
        "INGRESOS NO TRIBUTARIOS",
        "INGRESOS TRIBUTARIOS",
        "RENTAS DE LA PROPIEDAD",
        "TRANSFERENCIAS CORRIENTES",
        "TRANSFERENCIAS DE CAPITAL",
        "VTA. DE BIENES Y SERV. DE LA ADM. PÚBLICA"
      ];
      window.chartConfig2.options.legend.display = false;
      window.chart2 = new Chart(document.getElementById("chart-2"), window.chartConfig2);

      // Municipio 2

      window.chartConfig3 = JSON.parse(JSON.stringify(baseBarChartConfig));
      window.chartConfig3.data.datasets[0].label = "Indice Municipal";
      window.chartConfig3.data.datasets[0].data = [
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor()
      ];
      window.chartConfig3.data.labels = [
        "2016",
        "2017",
        "2018",
        "2019"
      ];
      window.chart3 = new Chart(document.getElementById("chart-3"), window.chartConfig3);

      window.chartConfig4 = JSON.parse(JSON.stringify(basePieChartConfig));
      window.chartConfig4.data.datasets[0].label = "Indice Municipal";
      window.chartConfig4.data.datasets[0].data = [
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
        window.randomScalingFactor(),
      ];
      window.chartConfig4.data.labels = [
        "DISMINUCIÓN DE OTROS ACTIVOS FINANCIEROS",
        "INGRESOS DE OPERACION",
        "INGRESOS NO TRIBUTARIOS",
        "INGRESOS TRIBUTARIOS",
        "RENTAS DE LA PROPIEDAD",
        "TRANSFERENCIAS CORRIENTES",
        "TRANSFERENCIAS DE CAPITAL",
        "VTA. DE BIENES Y SERV. DE LA ADM. PÚBLICA"
      ];
      window.chartConfig4.options.legend.display = false;
      window.chart4 = new Chart(document.getElementById("chart-4"), window.chartConfig4);
    }
    js.src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'chart-jssdk'));
</script>
{% endblock %}