---
layout: base.njk
---
{# carousel #}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/slide.jpg" class="d-block w-100" alt="Ciudad de Guatemala">
    </div>
    <div class="carousel-item">
      <img src="/img/slide.jpg" class="d-block w-100" alt="Ciudad de Guatemala">
    </div>
    <div class="carousel-item">
      <img src="/img/slide.jpg" class="d-block w-100" alt="Ciudad de Guatemala">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
{# main #}
<div class="bg-white w-100">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 mb-2 col-md-6">
                <h1>
                    Lorem ipsum dolo
                </h1>
                <p class="h5 font-weight-normal text-justify">
                    Laboratorio Municipal es un proyecto de Red Ciudadana que busca facilitar datos municipales en un interfaz amigable para navegar, incluidas visualizaciones para un primer vistazo más útil.
                </p>
            </div>
            <div class="col-12 mb-2 col-md-6 text-center">
                <iframe class="w-100 h-auto" src="https://www.youtube.com/embed/UHGvdqwvizE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-12">
        <h1>
            Tematicas
        </h1>
        <p class="h5 text-secondary font-weight-normal">
            Obtén más información sobre los conceptos y las tablas que presenta la plataforma de datos. Queremos ayudarte a usar mejor estos datos, así que avísenos si hay temas que te gustaría que expliquemos.
        </p>
    </div>
    {% for tematica in collections.tematicas %}
    <div class="col-12 col-sm-6 col-lg-3 text-center py-1">
        <a href="{{tematica.url}}" class="btn btn-lg btn-white rounded-pill border-dark w-100">
            {{ tematica.data.title }}
        </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="bg-white w-100">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1>
                    Tutoriales
                </h1>
                <p class="h5 font-weight-normal">
                    Dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud. 
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Guia de uso
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Ranking Municipal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Acceso a la información pública
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Desnutrición Crónica Municipal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Desnutrición Aguda Municipal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Índice de pobreza Multidimensional
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Desempeño de Escuelas Municipales
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Presupuesto Municipal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Ejecución Presupuestaria
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Recaudación Municipal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 py-1">
                <div class="w-100 border">
                    <img class="img-fluid" src="/img/video-placeholder.png" alt="Video">
                    <div class="p-2 py-3">
                        <p class="m-0">
                            Corporación Municipal
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>