---
pagination:
  data: municipiosData
  size: 1
  addAllPagesToCollections: true
  alias: municipio
permalink: "/{{ municipio.departamento | slug }}/{{ municipio.municipio | slug }}/index.html"
tags:
  - municipios
---
{% extends "src/_includes/baseToExtend.njk" %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous"/>
{% endblock %}

{% block content %}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v9.0" nonce="YTtCnNoo"></script>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <style>
    #map-container {
      width: 100%;
      height: 200px;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <a href="/municipios/1">Municipios</a>
        \
        {{ municipio.municipio }}
      </div>
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <a href="/{{ municipio.departamento | slug }}/{{ municipio.municipio | slug }}/index.html" class="col-12 col-md-3 m-0 p-2 bg-primary text-white text-left text-md-center font-weight-bold border-right">
            <img src="/assets/img/general-white.png" height="25px" alt="Casa" class="mr-1">
            Municipalidades
          </a>
          <a href="/{{ municipio.departamento | slug }}/{{ municipio.municipio | slug }}/corporacion.html" class="col-12 col-md-3 m-0 p-2 text-left text-md-center font-weight-bold border-right">
            <img src="/assets/img/coorporacion.png" height="25px" alt="Casa" class="mr-1">
            Corporación municipal
          </a>
          <div class="col d-flex">
            <div class="mx-auto ml-md-auto mr-md-0 my-auto d-flex py-2">
              <!-- Corregir alineación con tweet  -->
              <style>
                .fb-share-button span {
                  vertical-align: top !important;
                }
              </style>
              <div class="fb-share-button my-auto mr-1" data-href="https://labmunicipal.redciudadana.org/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flabmunicipal.redciudadana.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
              <a  class="twitter-share-button my-auto" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Flabmunicipal.redciudadana.org%2F&via=RedxGuate&text=Laboratorio%20Municipal&hashtags=%23LaboratorioMunicipal">
                Tweet
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 col-lg-4 p-3 p-lg-4 d-flex">
            <img src="/assets/img/mapa.png" alt="Municipalidad de Guatemala" class="m-auto img-fluid">
          </div>
          <div class="col-12 col-lg-4 p-3 p-lg-4 text-left">
            <h3>
              Municipalidad de
              {{ municipio.municipio }}
            </h3>
            <div class="pb-1 border-bottom">
              <p class="m-0 h6">
                Departamento:
                <span class="text-secondary font-weight-normal">{{municipio.departamento}}</span>
              </p>
            </div>
            <div class="pt-1 pb-1 border-bottom">
              <p class="m-0 h6">
                Alcalde:
                <span class="text-secondary font-weight-normal">{{municipio.alcalde}}</span>
              </p>
            </div>
            <div class="pt-1 pb-1 border-bottom">
              <p class="m-0 h6">
                Partido Político:
                <span class="text-secondary font-weight-normal">{{municipio.partido}}</span>
              </p>
            </div>
            <div class="pt-1 pb-1 border-bottom">
              <p class="m-0 h6">
                Fundación:
                <span class="text-secondary font-weight-normal">{{municipio.fundacion}}</span>
              </p>
            </div>
            <div class="pt-1 pb-1 border-bottom">
              <p class="m-0 h6">
                Teléfonos:
                <span class="text-secondary font-weight-normal">{{municipio.telefono}}</span>
              </p>
            </div>
            <div class="pt-1 pb-1">
              <p class="m-0 h6">
                E-mail:
                <span class="text-secondary font-weight-normal">{{municipio.email}}</span>
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-4 p-3 p-lg-4">
            <h6>
              Contacto
            </h6>
            <ul class="list-unstyled">
              <li>
                <img src="/assets/img/twitter.png" alt="Twitter" height="30px">
                <a class="text-secondary" href="{{municipio.twitter}}">{{municipio.twitter}}</a>
              </li>
              <li>
                <img src="/assets/img/facebook.png" alt="Facebook" height="30px">
                <a class="text-secondary" href="{{municipio.facebook}}">{{municipio.facebook}}</a>
              </li>
            </ul>
            <button class="btn btn-secondary btn-block text-uppercase">
              <img src="/assets/img/download.png" alt="Descargar" height="20px" class="mr-2">
              Descargar .XLSX
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white border w-100 row m-0 p-0 mb-2 justify-content-center py-3">
          <div class="col-12 pt-2 text-center">
            <h4 class="">
              Elije la tematica de su interes
            </h4>
          </div>
          <div class="col-12 col-lg-4 mb-2">
            <select class="form-control" name="tematica" id="tematica">
              <option value="General">General</option>
              {% for tematica in collections.tematicas %}
                <option value="{{ tematica.data.title }}">{{ tematica.data.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {# General #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              General
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#general-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="general-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/general?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/general?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-12 p-2 px-3 border">
                  <p>
                    Información en proceso
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Gestión Municipal #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Gestión Municipal
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#gestión-municipal-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="gestión-municipal-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/gestion-municipal?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/gestion-municipal?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-3 p-2 px-3 border">
                  <h3>
                    Indice de Gestión Municipal
                  </h3>
                  <h1>
                    {{municipio.ranking.segeplan2018}}
                    {{municipio.cuadro10Poblacion.poblacionTotal | toLocaleString}}
                  </h1>
                  <small>
                    SEGEPLAN 2018
                  </small>
                </div>
                <div class="col-12 col-lg-9 p-3 border">
                  <h6>
                    Indice de Gestión Municipal - SEGEPLAN 2018
                  </h6>
                  <canvas height="120px" id="chart-gestion-municipal-1"></canvas>
                  <small>Fuente: SEGEPLAN</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Transparencia #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Transparencia
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#transparencia-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="transparencia-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/transparencia?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/transparencia?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-3 p-2 px-3 border">
                  <h3>
                    Acceso a la información pública
                  </h3>
                  <h1>
                    {{municipio.aip.aipPromedio}}%
                  </h1>
                  <small>
                    PDH 2019
                  </small>
                </div>
                <div class="col-12 col-lg-9 p-3 border">
                  <h6>
                    Indice de Acceso a la Información Pública
                  </h6>
                  <canvas height="120px" id="chart-transparencia-1"></canvas>
                  <small>Fuente: Procuraduría de Derechos Humanos (PDH)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Nutrición / Alimentación #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Nutrición / Alimentación
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#nutrición-alimentación-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="nutrición-alimentación-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/nutricion-alimentacion?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/nutricion-alimentacion?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-12 p-2 px-3 border">
                  <p>
                    Información en proceso
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Pobreza #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Pobreza
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#pobreza-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="pobreza-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/pobreza?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/pobreza?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-3 p-2 px-3 border">
                  <h3>
                    Indice de Pobreza Multidimensional
                  </h3>
                  <h1>
                    {{municipio.ipm.ipm2014}} %
                  </h1>
                  <small>
                    PNUD 2014
                  </small>
                </div>
                <div class="col-12 col-lg-9 p-3 border">
                  <h6>
                    Índice de pobreza Multidimensional
                  </h6>
                  <canvas id="chart-pobreza-1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Finanzas #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Finanzas
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#finanzas-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="finanzas-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/finanzas?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/finanzas?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-12 p-2 px-3 border">
                  <p>
                    Información en proceso
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Población #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Población
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#población-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="población-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/poblacion?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/poblacion?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-3 p-2 px-3 border">
                  <h3>
                    Poblacion total
                  </h3>
                  <h1>
                    {{municipio.cuadro10Poblacion.poblacionTotal | toLocaleString}}
                  </h1>
                  <small>Fuente: Instituto Nacional de Estadistica (INE)</small>
                </div>
                <div class="col-12 col-lg-3 p-3 border">
                  <h6>
                    Población total por sexo
                  </h6>
                  <canvas height="244px" id="chart-poblacion-1"></canvas>
                </div>
                <div class="col-12 col-lg-6 p-3 border">
                  <h6>
                    Población total por grupos quinquenales de edad
                  </h6>
                  <canvas id="chart-poblacion-2"></canvas>
                </div>
                <div class="col-12 col-lg-5 p-3 border">
                  <h6>
                    Población total por área
                  </h6>
                  <canvas id="chart-poblacion-3"></canvas>
                </div>
                <div class="col-12 col-lg-7 p-3 border">
                  <h6>
                    Población según parentesco con el jefe(a) del hogar
                  </h6>
                  <canvas id="chart-poblacion-4"></canvas>
                </div>
                <div class="col-12 col-lg-3 p-2 px-3 border">
                  <h3>
                    Población de 10 años y más
                  </h3>
                  <h1>
                    {{municipio.cuadro10Poblacion.poblacionTotal | toLocaleString}}
                  </h1>
                </div>
                <div class="col-12 col-lg-5 p-3 border">
                  <h6>
                    Población de 10 años y más por estado conyugal
                  </h6>
                  <canvas id="chart-poblacion-5"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Población total por lugar de nacimiento y lugar de residencia en abril del 2013
                  </h6>
                  <canvas height="300px" id="chart-poblacion-6"></canvas>
                </div>
                <div class="col-12 col-lg-3 p-3 border">
                  <h6>
                     Total de poblacion pueblo maya
                  </h6>
                  <h1>
                    {{municipio.cuadro14Poblacion.maya | toLocaleString}}
                  </h1>
                </div>
                <div class="col-12 col-lg-9 p-3 border">
                  <h6>
                    Población total por pueblos
                  </h6>
                  <canvas height="100px" id="chart-poblacion-7"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Población con dificultades para ver, oír, caminar o subir escaleras, recordar o concentrarse, cuidado personal o comunicarse
                  </h6>
                  <canvas height="200px" id="chart-poblacion-8"></canvas>
                </div>
                <div class="col-12 col-lg-8 p-3 border">
                  <h6>
                    Población maya por comunidad lingüística
                  </h6>
                  <canvas height="100px" id="chart-poblacion-9"></canvas>
                </div>
                <div class="col-12 col-lg-12 p-3 border">
                  <h6>
                    Población con según dificultades para ver, oír, caminar o subir escaleras, recordar o concentrarse, cuidado personal o comunicarse
                  </h6>
                  <canvas height="40px" id="chart-poblacion-10"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Educación #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Educación
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#educación-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="educación-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/educacion?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/educacion?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-3 p-2 px-3 border">
                  <h3>
                    Población de 4 a 29 años que no asiste a un establecimiento educativo
                  </h3>
                  <h1>
                    {{municipio.cuadro19['poblacionDe4A29AñosDeEdadQueNoAsiste']}}
                  </h1>
                  <small>Fuente: Instituto Nacional de Estadistica (INE)</small>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Población de 4 años y más por nivel educativo
                  </h6>
                  <canvas height="230px" id="chart-educacion-1"></canvas>
                </div>
                <div class="col-12 col-lg-5 p-3 border">
                  <h6>
                    Población de 7 años o más con alfabetismo
                  </h6>
                  <canvas id="chart-educacion-3"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Asistencia escolar
                  </h6>
                  <canvas id="chart-educacion-4"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Causa principal de inasistencia
                  </h6>
                  <canvas height="230px" id="chart-educacion-2"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Lugar de estudio
                  </h6>
                  <canvas height="230px" id="chart-educacion-5"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Economía #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Economía
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#economía-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="economía-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/economia?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/economia?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-3 p-3 border">
                  <h6>
                    Uso de celular
                  </h6>
                  <canvas height="320px" id="chart-economia-1"></canvas>
                </div>
                <div class="col-12 col-lg-3 p-3 border">
                  <h6>
                    Uso de computadora y/o internet
                  </h6>
                  <canvas height="320px" id="chart-economia-2"></canvas>
                </div>
                <div class="col-12 col-lg-3 p-3 border">
                  <h6>
                    Uso de internet
                  </h6>
                  <canvas height="320px" id="chart-economia-3"></canvas>
                </div>
                <div class="col-12 col-lg-3 p-3 border">
                  <h6>
                    Uso de celular, computadora y/o internet
                  </h6>
                  <canvas height="460px" id="chart-economia-4"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Población económicamente activa e inactiva
                  </h6>
                  <canvas height="180px" id="chart-economia-5"></canvas>
                </div>
                <div class="col-12 col-lg-8 p-3 border">
                  <h6>
                    Población económicamente inactiva
                  </h6>
                  <canvas height="80px" id="chart-economia-7"></canvas>
                </div>
                <div class="col-12 col-lg-4 p-3 border">
                  <h6>
                    Condición de inactividad
                  </h6>
                  <canvas height="250px" id="chart-economia-6"></canvas>
                </div>
                <div class="col-12 col-lg-8 p-3 border">
                  <h6>
                    Lugar de trabajo
                  </h6>
                  <canvas height="80px" id="chart-economia-8"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {# Salud #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Salud
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#salud-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="salud-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/salud?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/salud?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 p-2 px-3 border">
            <h3>
              Total de mujeres de 15 años y mas
            </h3>
            <h1>
              {{ municipio.cuadro23['totalDeMujeresDe15AñosYMas'] }}
            </h1>
            <small>
              Fuente: Instituto Nacional de Estadistica (INE)
            </small>
          </div>
          <div class="col-12 col-lg-9 p-3 border">
            <h6>
              Número de hijos nacidos vivos
            </h6>
            <canvas height="80px" id="chart-salud-1"></canvas>
          </div>
          <div class="col-12 col-lg-12 p-3 border">
            <h6>
              Edad de la mujer al nacimiento de su primer hijo
            </h6>
            <canvas height="80px" id="chart-salud-2"></canvas>
          </div>
        </div>
      </div>
      {# Hogar #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Hogar
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#hogar-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="hogar-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/hogar?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/hogar?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 p-2 px-3 border">
            <h3>
              Total de hogares
            </h3>
            <h1>
              {{ municipio.cuadro24['totalDeHogares'] }}
            </h1>
            <small>
              Fuente: Instituto Nacional de Estadistica (INE)
            </small>
          </div>
          <div class="col-12 col-lg-9 p-3 border">
            <h6>
              Hogares por tipo de tenencia de la vivienda
            </h6>
            <canvas height="80px" id="chart-hogar-1"></canvas>
          </div>
          <div class="col-12 col-lg-6 p-3 border">
            <h6>
              Hogares por sexo del propietario de la vivienda
            </h6>
            <canvas height="80px" id="chart-hogar-2"></canvas>
          </div>
          <div class="col-12 col-lg-6 p-3 border">
            <h6>
              Sexo de la persona que toma las principales decisiones en el hogar
            </h6>
            <canvas height="80px" id="chart-hogar-3"></canvas>
          </div>
          <div class="col-12 col-lg-12 p-3 border">
            <h6>
              Hogares por fuente principal de agua para consumo
            </h6>
            <canvas height="80px" id="chart-hogar-4"></canvas>
          </div>
        </div>
      </div>
      {# Vivienda #}
      <div class="col-12 mb-2">
        <div class="bg-white w-100 row m-0 p-0">
          <div class="col-12 bg-secondary py-2 px-3 d-flex">
            <h4 class="text-white m-0 font-weight-normal" id="titleTematicaContainer">
              Vivienda
            </h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-transparent border-0 text-white ml-auto my-auto" data-toggle="modal" data-target="#vivienda-modal">
              Compartir gráfica
            </button>
            <!-- Modal -->
            <div class="modal fade" id="vivienda-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Compartir gráfica
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="bg-light p-1 mb-2">
                      <code id="code-embed">
                        &lt;embed src="https://labmunicipal.redciudadana.org/embedCharts/vivienda?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px"&gt;
                      </code>
                    </div>
                    <embed id="embed-embed" src="/embedCharts/vivienda?municipio={{municipio.idMunicipal}}" type="text/html" class="w-100" height="500px">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="w-100">
              <div class="row m-0 p-0">
                <div class="col-12 col-lg-12 p-2 px-3 border">
                  <p>
                    Información en proceso
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# ChartJS #}
  <script>
    (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.onload = function () {

//        Chart.helpers.merge(Chart.defaults.global.plugins.datalabels, {
//          align: function(context) {
//            if (context.chart.config.type === 'bar') {
//              return 'start';
//            } else {
//              return 'end';
//            }
//          },
//          anchor: 'end',
//          offset: function(context) {
//            if (context.chart.config.type === 'bar') {
//              return -20;
//            } else {
//              return -50;
//            }
//          },
//          position: function(context) {
//            if (context.chart.config.type === 'pie') {
//              return 'intside';
//            }
//          },
//          font: {
//            weight: 'bold'
//          },
//          color: '#666666',
//          display: function(context) {
//            if (context.chart.config.type === 'pie') {
//              return 'auto';
//            }
//
//            return true;
//          },
//          formatter: function(value, context) {
//            console.log(...arguments);
//            return value.toLocaleString();
//          }
//        });

        var baseBarChartConfig = {
          "type": "bar",
          "data": {
            "labels": [],
            "datasets": [
              {
                "label": "",
                "data": [],
                "fill": false,
                "backgroundColor": "#52CCAE",
                "borderColor": "#52CCAE",
                "borderWidth": 0,
                datalabels: {
//                  align: function(context) {
//                    if (context.chart.config.type === 'bar') {
//                      return 'start';
//                    } else {
//                      return 'end';
//                    }
//                  },
                  // align: 'center',
                  align: 'end',
                  anchor: 'end',
//                  position: function(context) {
//                    if (context.chart.config.type === 'pie') {
//                      return 'intside';
//                    }
//                  },
                  font: {
                    weight: 'bold'
                  },
                  color: '#666666',
//                  display: function(context) {
//                    if (context.chart.config.type === 'pie') {
//                      return 'auto';
//                    }
//
//                    return true;
//                  },
                  formatter: function(value, context) {
                    console.log(...arguments);
                    return value.toLocaleString();
                  }
                }
              }
            ]
          },
          "options": {
            legend: {
              display: false,
            },
            layout: {
              padding: {
                top: 40
              }
            },
            scales: {
              xAxes: [
                {
                  display: true,
                  gridLines: {
                    lineWidth: 1,
                    drawOnChartArea: false
                  }
                }
              ],
              yAxes: [
                {
                  gridLines: {
                    drawOnChartArea: false
                  },
                  ticks: {
                    beginAtZero: true
                  }
                }
              ]
            },
            plugins: {
              datalabels: {
                offset: 0,
                clamp: false
              }
            }
          }
        };

        var basePieChartConfig = {
          "type": "doughnut",
          "data": {
            "labels": [],
            "datasets": [
              {
                "label": "",
                "data": [],
                "fill": false,
                // generados con https://mdigi.tools/color-shades/#52ccae
                "backgroundColor": [
                  "#8cddc9",
                  "#ade7d9",
                  "#cef0e8",
                  "#185244",
                  "#22735f",
                  "#2c947a",
                  "#35b595",
                  "#4acaaa",
                  "#6bd3ba",
                  "#effaf7",
                ],
                "borderWidth": 0,
                datalabels: {
                  labels: {
//                    index: {
//                      align: 'end',
//                      anchor: 'center',
//                      color: function(ctx) {
//                        return ctx.dataset.backgroundColor;
//                      },
//                      font: {size: 18},
//                      formatter: function(value, ctx) {
//                        return ctx.active
//                          ? 'index'
//                          : '#' + (ctx.dataIndex + 1);
//                      },
//                      offset: 8,
//                      opacity: function(ctx) {
//                        return ctx.active ? 1 : 0.5;
//                      }
//                    },
//                    name: {
//                      align: 'top',
//                      font: {size: 16},
//                      formatter: function(value, ctx) {
//                        return ctx.active
//                          ? 'name'
//                          : ctx.chart.data.labels[ctx.dataIndex];
//                      }
//                    },
                    value: {
                      align: 'end',
                      anchor: 'end',
                      font: {
                        weight: 'bold'
                      },
                      color: '#666666',
                      display: 'auto',
                      clamp: true,
                      clip: false
                    },
                    formatter: function(value, context) {
                      console.log('hola');
                      return value.toLocaleString('es');
                    },
                  }
                }
              }
            ]
          },
          "options": {
            legend: {
              fullWidth: false,
              position: 'bottom',
              align: 'end'
            },
            layout: {
              padding: {
                top: 40
              }
            },
            plugins: {
              datalabels: {
                clamp: true
              }
            }
          }
        };

        // Gestion municipal
        let chartConfigGestionMunicipal1 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigGestionMunicipal1
          .data
          .datasets[0]
          .label = "Indice gestión municipal %";
        chartConfigGestionMunicipal1
          .data
          .datasets[0]
          .data = [
            {{municipio.ranking.segeplan2013}},
            {{municipio.ranking.segeplan2016}},
            {{municipio.ranking.segeplan2018}}
          ];
        chartConfigGestionMunicipal1.data.labels = ["2013", "2016", "2018"];
        chartConfigGestionMunicipal1.options.scales.yAxes[0].ticks.beginAtZero = true;
        new Chart(document.getElementById("chart-gestion-municipal-1"), chartConfigGestionMunicipal1);

        // Transparencia
        let chartConfigGestionTransparencia1 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigGestionTransparencia1
          .data
          .datasets[0]
          .label = "Indice de Acceso a la Información Pública";
        chartConfigGestionTransparencia1
          .data
          .datasets[0]
          .data = [{{municipio.aip.aip2015}}, {{municipio.aip.aip2017}}, {{municipio.aip.aip2019}}];
        chartConfigGestionTransparencia1.data.labels = ["2015", "2017", "2019"];
        chartConfigGestionMunicipal1.options.scales.yAxes[0].ticks.beginAtZero = true;
        new Chart(document.getElementById("chart-transparencia-1"), chartConfigGestionTransparencia1);

        // Pobreza
        let chartConfigGestionPobreza1 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigGestionPobreza1
          .data
          .datasets[0]
          .label = "Índice de pobreza Multidimensional";
        chartConfigGestionPobreza1
          .data
          .datasets[0]
          .data = [
            {{municipio.ipm.ipm2006}},
            {{municipio.ipm.ipm2011}},
            {{municipio.ipm.ipm2014}}
          ];
        chartConfigGestionPobreza1.data.labels = ["2006", "2011", "2014"];
        chartConfigGestionPobreza1.options.scales.yAxes[0].ticks.suggestedMax = 1;
        chartConfigGestionPobreza1.options.scales.yAxes[0].ticks.beginAtZero = true;
        new Chart(document.getElementById("chart-pobreza-1"), chartConfigGestionPobreza1);

        // Población
        // 1.- Población total por sexo
        let chartConfigPoblacion1 = JSON.parse(JSON.stringify(basePieChartConfig));
        chartConfigPoblacion1
          .data
          .datasets[0]
          .label = "Sexo";
        chartConfigPoblacion1
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro10Poblacion.hombres}},
            {{municipio.cuadro10Poblacion.mujeres}},
          ];
        chartConfigPoblacion1.data.labels = [
          "Hombres",
          "Mujeres",
        ];
        chartConfigPoblacion1.options.legend.display = true;
        new Chart(document.getElementById("chart-poblacion-1"), chartConfigPoblacion1);

        // 2.- Población total por grupos quinquenales de edad
        let chartConfigPoblacion2 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigPoblacion2
          .data
          .datasets[0]
          .label = "Población por grupo de edad";
        chartConfigPoblacion2
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro10Poblacion['04']}},
            {{municipio.cuadro10Poblacion['59']}},
            {{municipio.cuadro10Poblacion['1014']}},
            {{municipio.cuadro10Poblacion['1519']}},
            {{municipio.cuadro10Poblacion['2024']}},
            {{municipio.cuadro10Poblacion['2529']}},
            {{municipio.cuadro10Poblacion['3034']}},
            {{municipio.cuadro10Poblacion['3539']}},
            {{municipio.cuadro10Poblacion['4044']}},
            {{municipio.cuadro10Poblacion['4549']}},
            {{municipio.cuadro10Poblacion['5054']}},
          ];

        chartConfigPoblacion2.data.labels = [
          "0-4",
          "5-9",
          "15-19",
          "20-24",
          "25-29",
          "30-34",
          "35-39",
          "40-44",
          "45-49",
          "50-54",
        ];
        chartConfigPoblacion2.options.scales.yAxes[0].ticks.suggestedMax = 1;
        chartConfigPoblacion2.options.scales.yAxes[0].ticks.beginAtZero = false;
        chartConfigPoblacion2.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-poblacion-2"), chartConfigPoblacion2);

        // 3.- Población total por área
        let chartConfigPoblacion3 = JSON.parse(JSON.stringify(basePieChartConfig));
        chartConfigPoblacion3
          .data
          .datasets[0]
          .label = "Tipo de área";
        chartConfigPoblacion3
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro10Poblacion.urbana}},
            {{municipio.cuadro10Poblacion.rural}},
          ];
        chartConfigPoblacion3.data.labels = [
          "Urbana",
          "Rural",
        ];
        chartConfigPoblacion3.options.legend.display = true;
        new Chart(document.getElementById("chart-poblacion-3"), chartConfigPoblacion3);

        // 4.- Población según parentesco con el jefe(a) del hogar
        let chartConfigPoblacion4 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigPoblacion4
          .data
          .datasets[0]
          .label = "Población según parentesco con el jefe(a) del hogar";
        chartConfigPoblacion4
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro11Poblacion['jefe(a)deHogar']}},
            {{municipio.cuadro11Poblacion['esposa(o)oPareja']}},
            {{municipio.cuadro11Poblacion['hija(o)hijastra(o)']}},
            {{municipio.cuadro11Poblacion['nueraOYerno']}},
            {{municipio.cuadro11Poblacion['nietaONieto']}},
            {{municipio.cuadro11Poblacion['hermanaOHermano']}},
            {{municipio.cuadro11Poblacion['madreOPadre']}},
            {{municipio.cuadro11Poblacion['suegraOSuegro']}},
            {{municipio.cuadro11Poblacion['cuñadaOCuñado']}},
            {{municipio.cuadro11Poblacion['otra(o)pariente']}},
            {{municipio.cuadro11Poblacion['noParientes']}},
            {{municipio.cuadro11Poblacion['poblaciónEnViviendasColectivasOEnSituaciónDeCalle']}},
          ];

        chartConfigPoblacion4.data.labels = [
          'Jefe(a) de hogar',
          'Esposa(o) o pareja',
          'Hija(o) hijastra(o)',
          'Nuera o yerno',
          'Nieta o nieto',
          'Hermana o hermano',
          'Madre o padre',
          'Suegra o suegro',
          'Cuñada o cuñado',
          'Otra(o) pariente',
          'No parientes',
          'Viviendas colectivas o en situación de calle',
        ];
        chartConfigPoblacion4.options.scales.yAxes[0].ticks.suggestedMax = 1;
        chartConfigPoblacion4.options.scales.yAxes[0].ticks.beginAtZero = false;
        chartConfigPoblacion4.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-poblacion-4"), chartConfigPoblacion4);

        // 5.- Población de 10 años y más por estado conyugal
        let chartConfigPoblacion5 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigPoblacion5
          .data
          .datasets[0]
          .label = "Población por estado conyugal";
        chartConfigPoblacion5
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro12Poblacion['soltera(o)']}},
            {{municipio.cuadro12Poblacion['unida(o)']}},
            {{municipio.cuadro12Poblacion['casada(o)']}},
            {{municipio.cuadro12Poblacion['separada(o)']}},
            {{municipio.cuadro12Poblacion['divorciada(o)']}},
            {{municipio.cuadro12Poblacion['viuda(o)']}},
          ];

        chartConfigPoblacion5.data.labels = [
          'Soltera(o)',
          'Unida(o)',
          'Casada(o)',
          'Separada(o)',
          'Divorciada(o)',
          'Viuda(o)',
        ];
        chartConfigPoblacion5.options.scales.yAxes[0].ticks.suggestedMax = 1;
        chartConfigPoblacion5.options.scales.yAxes[0].ticks.beginAtZero = false;
        chartConfigPoblacion5.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-poblacion-5"), chartConfigPoblacion5);

        // 6.- Población total por lugar de nacimiento
        let chartConfigPoblacion6 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigPoblacion6
          .data
          .datasets[0]
          .label = "Población total por lugar de nacimiento";
        chartConfigPoblacion6
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro13Poblacion['lugarNacimientoEnElMismoMunicipio']}},
            {{municipio.cuadro13Poblacion['lugarNacimientoEnOtroMunicipio']}},
            {{municipio.cuadro13Poblacion['lugarNacimientoEnOtroPais']}},
            {{municipio.cuadro13Poblacion['lugarNacimientoNoDeclarado']}}
          ];

        chartConfigPoblacion6.data.labels = [
          'Mismo municipio',
          'En otro municipio ',
          'En otro pais',
          'No declarado',
        ];
        chartConfigPoblacion6.options.scales.yAxes[0].ticks.beginAtZero = false;
        chartConfigPoblacion6.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-poblacion-6"), chartConfigPoblacion6);

        // 7.- Población total por pueblos
        let chartConfigPoblacion7 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigPoblacion7
          .data
          .datasets[0]
          .label = "Población total por pueblos";
        chartConfigPoblacion7
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro14Poblacion['maya']}},
            {{municipio.cuadro14Poblacion['gaifuna']}},
            {{municipio.cuadro14Poblacion['xinka']}},
            {{municipio.cuadro14Poblacion['afrodescendiente /creole /afromestizo']}},
            {{municipio.cuadro14Poblacion['ladina(o)']}},
            {{municipio.cuadro14Poblacion['extranjera(o)']}}
          ];

        chartConfigPoblacion7.data.labels = [
          'Maya',
          'Gaifuna',
          'Xinka',
          'Afrodescendiente / Creole / Afromestizo',
          'Ladina(o)',
          'Extranjera(o)',
        ];
        chartConfigPoblacion7.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-poblacion-7"), chartConfigPoblacion7);

        // 9.- Población con dificultades para ver, oír, caminar o subir escaleras, recordar o concentrarse, cuidado personal o comunicarse
        let chartConfigPoblacion8 = JSON.parse(JSON.stringify(basePieChartConfig));
        chartConfigPoblacion8
          .data
          .datasets[0]
          .label = "Población total por pueblos";
        chartConfigPoblacion8
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro17Poblacion['sinDificultad']}},
            {{municipio.cuadro17Poblacion['personasConAlMenosUnaDificultad']}},
            {{municipio.cuadro17Poblacion['noDeclarado']}},
          ];

        chartConfigPoblacion8.data.labels = [
          'Sin dificultad',
          'Personas con al menos una dificultad',
          'No declarado'
        ];
        new Chart(document.getElementById("chart-poblacion-8"), chartConfigPoblacion8);

        // 9.- Población maya por comunidad lingüística
        let chartConfigPoblacion9 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigPoblacion9
          .data
          .datasets[0]
          .label = "Población maya por comunidad lingüística";
        chartConfigPoblacion9
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro15Poblacion['achi']}},
            {{municipio.cuadro15Poblacion['akateka']}},
            {{municipio.cuadro15Poblacion['awakateka']}},
            {{municipio.cuadro15Poblacion['ch\'orti\'']}},
            {{municipio.cuadro15Poblacion['chalchiteka']}},
            {{municipio.cuadro15Poblacion['chuj']}},
            {{municipio.cuadro15Poblacion['itza\'']}},
            {{municipio.cuadro15Poblacion['ixil']}},
            {{municipio.cuadro15Poblacion['jakalteko /popti\'']}},
            {{municipio.cuadro15Poblacion['k\'iche\'']}},
            {{municipio.cuadro15Poblacion['kaqchikel']}},
            {{municipio.cuadro15Poblacion['mam']}},
            {{municipio.cuadro15Poblacion['mopan']}},
            {{municipio.cuadro15Poblacion['poqomam']}},
            {{municipio.cuadro15Poblacion['poqomchi\'']}},
            {{municipio.cuadro15Poblacion['q\'anjob\'al']}},
            {{municipio.cuadro15Poblacion['q\'eqchi\'']}},
            {{municipio.cuadro15Poblacion['sakapulteka']}},
            {{municipio.cuadro15Poblacion['sipakapense']}},
            {{municipio.cuadro15Poblacion['tektiteka']}},
            {{municipio.cuadro15Poblacion['tz\'utujil']}},
            {{municipio.cuadro15Poblacion['uspanteka']}},
          ];

        chartConfigPoblacion9.data.labels = [
          'Achi',
          'Akateka',
          'Awakateka',
          'Ch\'orti',
          'Chalchiteka',
          'Chuj',
          'Itza',
          'Ixil',
          'Jakalteko /Popti',
          'K\'iche',
          'Kaqchikel',
          'Mam',
          'Mopan',
          'Poqomam',
          'Poqomchi',
          'Q\'anjob\'al',
          'Q\'eqchi',
          'Sakapulteka',
          'Sipakapense',
          'Tektiteka',
          'Tz\'utujil',
          'Uspanteka',
        ];
        chartConfigPoblacion9.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-poblacion-9"), chartConfigPoblacion9);

        // 10.- Población maya por comunidad lingüística
        let chartConfigPoblacion10 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigPoblacion10
          .data
          .datasets[0]
          .label = "Población maya por comunidad lingüística";
        chartConfigPoblacion10
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro17Poblacion['ver,aunSiUsaLentes']}},
            {{municipio.cuadro17Poblacion['oir,inclusoConAparato']}},
            {{municipio.cuadro17Poblacion['caminarOSubirEscaleras']}},
            {{municipio.cuadro17Poblacion['recordarOConcentrarse']}},
            {{municipio.cuadro17Poblacion['cuidadoPersonalOVestirse']}},
            {{municipio.cuadro17Poblacion['comunicarse']}},
          ];

        chartConfigPoblacion10.data.labels = [
          'Ver, aun si usa lentes',
          'Oir, incluso con aparato',
          'Caminar o subir escaleras',
          'Recordar o concentrarse',
          'Cuidado personal o vestirse',
          'Comunicarse',
        ];
        chartConfigPoblacion10.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-poblacion-10"), chartConfigPoblacion10);


        // Educación
        // 1.- Educación
        let chartConfigEducacion1 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigEducacion1
          .data
          .datasets[0]
          .label = "Población de 4 años y más por nivel educativo";
        chartConfigEducacion1
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro18.preprimaria}},
            {{municipio.cuadro18.primaria13}},
            {{municipio.cuadro18.primaria45}},
            {{municipio.cuadro18.primaria6}},
            {{municipio.cuadro18.basico}},
            {{municipio.cuadro18.diversificado}},
            {{municipio.cuadro18.licenciatura}},
            {{municipio.cuadro18.maestriaODoctorado}},
          ];

        chartConfigEducacion1.data.labels = [
          'Preprimaria',
          'Primaria  1 - 3',
          'Primaria 4 - 5',
          'Primaria 6',
          'Basico',
          'Diversificado',
          'Licenciatura',
          'Maestria o Doctorado',
        ];
        chartConfigEducacion1.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-educacion-1"), chartConfigEducacion1);

        // 2.- Educación
        let chartConfigEducacion2 = JSON.parse(JSON.stringify(baseBarChartConfig));
        chartConfigEducacion2
          .data
          .datasets[0]
          .label = "Población de 4 años y más por nivel educativo";
        chartConfigEducacion2
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro19['faltaDeDinero']}},
            {{municipio.cuadro19['tieneQueTrabajar']}},
            {{municipio.cuadro19['noHayEscuela,institutoOUniversidad']}},
            {{municipio.cuadro19['losPadres /parejaNoQuieren']}},
            {{municipio.cuadro19['quehaceresDelHogar']}},
            {{municipio.cuadro19['noLeGusta /noQuiereIr']}},
            {{municipio.cuadro19['yaTerminoSusEstudios']}},
            {{municipio.cuadro19['otraCausa']}},
            {{municipio.cuadro19['noDeclarada']}},
          ];

        chartConfigEducacion2.data.labels = [
          'Falta de dinero',
          'Tiene que trabajar',
          'No hay escuela, instituto o universidad',
          'Los padres / pareja no quieren',
          'Quehaceres del hogar',
          'No le gusta / no quiere ir',
          'Ya termino sus estudios',
          'Otra causa',
          'No declarada',
        ];
        chartConfigEducacion2.options.scales.yAxes[0].ticks.callback = function(value) { return parseFloat(value).toLocaleString() };
        new Chart(document.getElementById("chart-educacion-2"), chartConfigEducacion2);

        // 3.- Educación
        let chartConfigEducacion3 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEducacion3
          .data
          .datasets[0]
          .label = "Población de 7 años o más con alfabetismo";

        chartConfigEducacion3
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro20['hombres']}},
            {{municipio.cuadro20['mujeres']}},
          ];

        chartConfigEducacion3.data.labels = [
          'Hombres',
          'Mujeres',
        ];
        new Chart(document.getElementById("chart-educacion-3"), chartConfigEducacion3);

        // 4.- Educación
        let chartConfigEducacion4 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEducacion4
          .data
          .datasets[0]
          .label = "Asistencia escolar";

        chartConfigEducacion4
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro20['asiste']}},
            {{municipio.cuadro20['noAsiste']}},
          ];

        chartConfigEducacion4.data.labels = [
          'Asiste',
          'No Asiste',
        ];
        new Chart(document.getElementById("chart-educacion-4"), chartConfigEducacion4);

        // 5.- Educación
        let chartConfigEducacion5 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigEducacion5
          .data
          .datasets[0]
          .label = "Lugar de estudio";

        chartConfigEducacion5
          .data
          .datasets[0]
          .data = [
            {{municipio.cuadro20['enElMismoMunicipio']}},
            {{municipio.cuadro20['enOtroMunicipio']}},
            {{municipio.cuadro20['enOtroPais']}},
            {{municipio.cuadro20['noDeclarado']}},
          ];

        chartConfigEducacion5.data.labels = [
          'En el mismo municipio',
          'En otro municipio ',
          'En otro pais',
          'No declarado',
        ];
        new Chart(document.getElementById("chart-educacion-5"), chartConfigEducacion5);

        // ECONOMIA
        let chartConfigEconomia1 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEconomia1
            .data
            .datasets[0]
            .label = "Uso de celular";

        chartConfigEconomia1
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro21['usaCelular'] }},
                {{ municipio.cuadro21['noUsaCelular'] }},
                {{ municipio.cuadro21['noDeclaradoUsoDeCelular'] }},
            ];

        chartConfigEconomia1.data.labels = [
            'Usa celular',
            'No usa celular',
            'No declarado uso de celular',
        ];
        new Chart(document.getElementById("chart-economia-1"), chartConfigEconomia1);

        let chartConfigEconomia2 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEconomia2
            .data
            .datasets[0]
            .label = "Uso de computadora";

        chartConfigEconomia2
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro21['usaComputadora'] }},
                {{ municipio.cuadro21['noUsaComputadora'] }},
                {{ municipio.cuadro21['noDeclaradoElUsoDeComputadora'] }},
            ];

        chartConfigEconomia2.data.labels = [
            'Usa computadora',
            'No usa computadora',
            'No declarado el uso de computadora ',
        ];
        new Chart(document.getElementById("chart-economia-2"), chartConfigEconomia2);

        let chartConfigEconomia3 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEconomia3
            .data
            .datasets[0]
            .label = "Uso de internet";

        chartConfigEconomia3
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro21['usaInternet'] }},
                {{ municipio.cuadro21['noUsaInternet'] }},
                {{ municipio.cuadro21['noDeclaradoElUsoDeInternet'] }},
            ];

        chartConfigEconomia3.data.labels = [
            'Usa Internet',
            'No usa Internet',
            'No declarado el uso de Internet',
        ];
        new Chart(document.getElementById("chart-economia-3"), chartConfigEconomia3);

        let chartConfigEconomia4 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEconomia4
            .data
            .datasets[0]
            .label = "Uso de celular, computadora y/o internet";

        chartConfigEconomia4
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro21['celular,computadoraEInternet'] }},
                {{ municipio.cuadro21['celularYComputadora'] }},
                {{ municipio.cuadro21['celularEInternet'] }},
                {{ municipio.cuadro21['computadoraEInternet'] }},
            ];

        chartConfigEconomia4.data.labels = [
            'Celular, computadora e internet',
            'Celular y computadora',
            'Celular e internet',
            'Computadora e internet',
        ];
        new Chart(document.getElementById("chart-economia-4"), chartConfigEconomia4);

        let chartConfigEconomia5 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEconomia5
            .data
            .datasets[0]
            .label = "Población económicamente activa e inactiva";

        chartConfigEconomia5
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro22['totalPea'] }},
                {{ municipio.cuadro22['totalPei'] }},
            ];

        chartConfigEconomia5.data.labels = [
            'Total PEA',
            'Total PEI',
        ];
        new Chart(document.getElementById("chart-economia-5"), chartConfigEconomia5);

        let chartConfigEconomia6 = JSON.parse(JSON.stringify(basePieChartConfig));

        chartConfigEconomia6
            .data
            .datasets[0]
            .label = "Condición de inactividad";

        chartConfigEconomia6
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro22['peaOcupada'] }},
                {{ municipio.cuadro22['peaCesante'] }},
                {{ municipio.cuadro22['peaAspirante'] }},
            ];

        chartConfigEconomia6.data.labels = [
            'PEA Ocupada',
            'PEA Cesante',
            'PEA Aspirante',
        ];
        new Chart(document.getElementById("chart-economia-6"), chartConfigEconomia6);

        let chartConfigEconomia7 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigEconomia7
            .data
            .datasets[0]
            .label = "Población económicamente inactiva";

        chartConfigEconomia7
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro22['peiUnicamenteEstudio'] }},
                {{ municipio.cuadro22['peiRentistaOJubilado'] }},
                {{ municipio.cuadro22['peiQueHaceresDelHogar'] }},
                {{ municipio.cuadro22['peiCuidadoDePersonas'] }},
                {{ municipio.cuadro22['peiCargoComunitario'] }},
                {{ municipio.cuadro22['peiOtra'] }},
                {{ municipio.cuadro22['peiNoDeclarado'] }},
            ];

        chartConfigEconomia7.data.labels = [
          'PEI Unicamente estudio',
          'PEI  Rentista o jubilado',
          'PEI  Que haceres del hogar',
          'PEI  Cuidado de personas',
          'PEI  Cargo comunitario',
          'PEI  Otra',
          'PEI  No declarado',
        ];
        new Chart(document.getElementById("chart-economia-7"), chartConfigEconomia7);

        let chartConfigEconomia8 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigEconomia8
            .data
            .datasets[0]
            .label = "Lugar de trabajo";

        chartConfigEconomia8
            .data
            .datasets[0]
            .data = [
                {{ municipio.cuadro22['lugarDeTrabajoEnElMismoMunicipio'] }},
                {{ municipio.cuadro22['lugarDeTrabajoEnOtroMunicipio'] }},
                {{ municipio.cuadro22['lugarDeTrabajoEnOtroPais'] }},
                {{ municipio.cuadro22['lugarDeTrabajoNoDeclarado'] }},
            ];

        chartConfigEconomia8.data.labels = [
            'Lugar de trabajo en el mismo municipio',
            'Lugar de trabajo en otro municipio ',
            'Lugar de trabajo en otro pais',
            'Lugar de trabajo no declarado',
        ];
        new Chart(document.getElementById("chart-economia-8"), chartConfigEconomia8);

        // Salud
        let chartConfigSalud1 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigSalud1
            .data
            .datasets[0]
            .label = "Número de hijos nacidos vivos";

        chartConfigSalud1
            .data
            .datasets[0]
            .data = [
              {{ municipio.cuadro23['nacidosVivos0'] }},
              {{ municipio.cuadro23['nacidosVivos1'] }},
              {{ municipio.cuadro23['nacidosVivos2'] }},
              {{ municipio.cuadro23['nacidosVivos3'] }},
              {{ municipio.cuadro23['nacidosVivos4'] }},
              {{ municipio.cuadro23['nacidosVivos5OMas'] }},
              {{ municipio.cuadro23['nacidosVivosNoDeclarado'] }},
            ];

        chartConfigSalud1.data.labels = [
          'Nacidos vivos 0',
          'Nacidos vivos 1',
          'Nacidos vivos 2',
          'Nacidos vivos 3',
          'Nacidos vivos 4',
          'Nacidos vivos 5 o mas',
          'No declarado',
        ];
        new Chart(document.getElementById("chart-salud-1"), chartConfigSalud1);

        let chartConfigSalud2 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigSalud2
            .data
            .datasets[0]
            .label = "Edad de la mujer al nacimiento de su primer hijo";

        chartConfigSalud2
            .data
            .datasets[0]
            .data = [
              {{ municipio.cuadro23['edadMujerAlMomentoDePartoAntesDe15'] }},
              {{ municipio.cuadro23['edadMujerAlMomentoDeParto1517Años'] }},
              {{ municipio.cuadro23['edadMujerAlMomentoDeParto1819Años'] }},
              {{ municipio.cuadro23['edadMujerAlMomentoDeParto2024Años'] }},
              {{ municipio.cuadro23['edadMujerAlMomentoDeParto2529Años'] }},
              {{ municipio.cuadro23['edadMujerAlMomentoDeParto30AñosOMas'] }},
              {{ municipio.cuadro23['edadMujerAlMomentoDePartoNoDeclarado'] }},
            ];

        chartConfigSalud2.data.labels = [
          'Edad mujer al momento de parto  antes de 15',
          'Edad mujer al momento de parto 15 - 17 años',
          'Edad mujer al momento de parto 18 - 19 años',
          'Edad mujer al momento de parto 20 - 24 años',
          'Edad mujer al momento de parto 25 - 29 años',
          'Edad mujer al momento de parto 30 años o mas',
          'Edad mujer al momento de parto no declarado',
        ];
        new Chart(document.getElementById("chart-salud-2"), chartConfigSalud2);

        // HOGAR
        let chartConfigHogar1 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigHogar1
            .data
            .datasets[0]
            .label = "Hogares por tipo de tenencia de la vivienda";

        chartConfigHogar1
            .data
            .datasets[0]
            .data = [
              {{ municipio.cuadro24['propia'] }},
              {{ municipio.cuadro24['alquilada'] }},
              {{ municipio.cuadro24['cedidaOPrestada'] }},
              {{ municipio.cuadro24['propiedadComunal'] }},
              {{ municipio.cuadro24['otra'] }},
            ];

        chartConfigHogar1.data.labels = [
          'Propia',
          'Alquilada',
          'Cedida o prestada',
          'Propiedad comunal',
          'Otra',
        ];
        new Chart(document.getElementById("chart-hogar-1"), chartConfigHogar1);

        let chartConfigHogar2 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigHogar2
            .data
            .datasets[0]
            .label = "Hogares por sexo del propietario de la vivienda";

        chartConfigHogar2
            .data
            .datasets[0]
            .data = [
              {{ municipio.cuadro24['propoetarioHombre'] }},
              {{ municipio.cuadro24['propoetarioMujer'] }},
              {{ municipio.cuadro24['propoetarioAmbos'] }},
              {{ municipio.cuadro24['propoetarioNoDeclarado'] }},
            ];

        chartConfigHogar2.data.labels = [
          'Propietario Hombre',
          'Propietario Mujer',
          'Propietario Ambos',
          'Propietario no declarado',
        ];
        new Chart(document.getElementById("chart-hogar-2"), chartConfigHogar2);

        let chartConfigHogar3 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigHogar3
            .data
            .datasets[0]
            .label = "Hogares por tipo de tenencia de la vivienda";

        chartConfigHogar3
            .data
            .datasets[0]
            .data = [
              {{ municipio.cuadro24['decisionesHogarHombre'] }},
              {{ municipio.cuadro24['decisionesHogarMujer'] }},
              {{ municipio.cuadro24['decisionesHogarAmbos'] }},
              {{ municipio.cuadro24['decisionesHogarNoDeclarado'] }},
            ];

        chartConfigHogar3.data.labels = [
          'Decisiones hogar Hombre',
          'Decisiones hogar Mujer',
          'Decisiones hogar ambos',
          'Decisiones hogar no declarado',
        ];
        new Chart(document.getElementById("chart-hogar-3"), chartConfigHogar3);

        let chartConfigHogar4 = JSON.parse(JSON.stringify(baseBarChartConfig));

        chartConfigHogar4
          .data
          .datasets[0]
          .label = "Hogares por fuente principal de agua para consumo";

        chartConfigHogar4
          .data
          .datasets[0]
          .data = [
            {{ municipio.cuadro24['decisionesHogarHombre'] }},
            {{ municipio.cuadro24['decisionesHogarMujer'] }},
            {{ municipio.cuadro24['decisionesHogarAmbos'] }},
            {{ municipio.cuadro24['decisionesHogarNoDeclarado'] }},
          ];

        chartConfigHogar4.data.labels = [
          'Tuberia en la vivienda',
          'Tuberia fuera de la vivienda',
          'Chorro publico',
          'Pozo perforado',
          'Agua de lluvia',
          'Rio o lago',
          'Manantial o nacimiento',
          'Camion o tonel',
          'Otro',
        ];
        new Chart(document.getElementById("chart-hogar-4"), chartConfigHogar4);
      }
      js.src = "/assets/main.js";
      fjs
        .parentNode
        .insertBefore(js, fjs);
    }(document, 'script', 'chart-jssdk'));
  </script>
{% endblock %}