---
title: Prueba
layout: base.njk
---
<div class="bg-white w-100 py-5">
  <div class="container">
    <div class="row">
      <canvas id="chart-general-1"></canvas>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script>
  Chart.helpers.merge(Chart.defaults.global.plugins.datalabels, {
    align: 'start',
    anchor: 'end',
    offset: -20,
    display: true,
    font: {
      weight: 'bold'
    }
  });

  var bar = new Chart(document.getElementById('chart-general-1'), {
    type: 'bar',
    data: {
      "labels": ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
        {
          label: "My First Dataset",
          data: [65, 65, 65, 65, 65, 65, 65]
        }
      ],
    }
  });
</script>