---
title: Tematicas
permalink: "/tematicas/index.html"
---
{% extends "src/_includes/baseToExtend.njk" %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1>
        Tematicas
      </h1>
      <p class="h5 text-secondary font-weight-normal">
        Obtén más información sobre los conceptos y las tablas que presenta la plataforma de datos. Selecciona una de las siguientes temáticas:
      </p>
    </div>
    {% for tematica in collections.tematicas %}
    <div class="col-12 col-sm-6 col-lg-3 text-center py-1">
        <a href="{{tematica.url}}" class="btn btn-lg btn-white rounded-pill border-dark w-100">
            {{ tematica.data.title }}
        </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="bg-white w-100">
  <div class="container py-4">
    <div class="row">
      <div class="col-12">
        <h5 class="text-secondary font-weight-normal mb-3">
          Seleccionar una temática
        </h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}