---
title: Tutoriales
layout: base.njk
---
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>
                Tutoriales
            </h1>
        </div>
    </div>
</div>
<div class="bg-white w-100 py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 py-1">
                <div class="w-100 border">
                    <div class="bg-dark w-100 text-center">
                        <img src="/assets/img/video.png" class="p-4 img-fluid mx-auto" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3">
                        <h5>
                        Lorem ipsum
                        </h5>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ad debitis repudiandae!
                        </p>
                        <a href="#" class="btn btn-primary text-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-1">
                <div class="w-100 border">
                    <div class="bg-dark w-100 text-center">
                        <img src="/assets/img/video.png" class="p-4 img-fluid mx-auto" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3">
                        <h5>
                        Lorem ipsum
                        </h5>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ad debitis repudiandae!
                        </p>
                        <a href="#" class="btn btn-primary text-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-1">
                <div class="w-100 border">
                    <div class="bg-dark w-100 text-center">
                        <img src="/assets/img/video.png" class="p-4 img-fluid mx-auto" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3">
                        <h5>
                        Lorem ipsum
                        </h5>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ad debitis repudiandae!
                        </p>
                        <a href="#" class="btn btn-primary text-white">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>