---
title: Tutoriales
layout: base.njk
---
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>
                Visualizaciones
            </h1>
        </div>
    </div>
</div>
<div class="bg-white w-100 py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 py-1">
                <div class="w-100 border">
                    <div class="bg-dark w-100 text-center">
                        <img src="/assets/img/lab-gray.png" class="p-4 img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3">
                        <h6>
                        Lorem ipsum
                        </h6>
                        <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>  
                        <a href="#" class="btn btn-primary text-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 py-1">
                <div class="w-100 border">
                    <div class="bg-dark w-100 text-center">
                        <img src="/assets/img/lab-gray.png" class="p-4 img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3">
                        <h6>
                        Lorem ipsum
                        </h6>
                        <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>  
                        <a href="#" class="btn btn-primary text-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 py-1">
                <div class="w-100 border">
                    <div class="bg-dark w-100 text-center">
                        <img src="/assets/img/lab-gray.png" class="p-4 img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3">
                        <h6>
                        Lorem ipsum
                        </h6>
                        <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>  
                        <a href="#" class="btn btn-primary text-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 py-1">
                <div class="w-100 border">
                    <div class="bg-dark w-100 text-center">
                        <img src="/assets/img/lab-gray.png" class="p-4 img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3">
                        <h6>
                        Lorem ipsum
                        </h6>
                        <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>  
                        <a href="#" class="btn btn-primary text-white">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>